body {
  --accent-font: "Bilbo", cursive;
  font-family: "Montserrat", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}
.nav-right span:last-child {
  padding-left: 20px;
}
.nav-title {
  font-weight: 600;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.onboarding-title {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
.onboarding-title-btn {
  padding: 15px;
  border-radius: 5%;
  max-width: 140px;
  background-color: #52796f;
}
.onboard-form {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group input {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  color: #f6f6f7;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  width: 300px;
  font-size: 16px;
  margin-bottom: 20px;
}
