body {
  --accent-font: "Bilbo", cursive;
  font-family: "Montserrat", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}
.nav-right span:last-child {
  padding-left: 20px;
}
.nav-title {
  font-weight: 600;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}
